.zaiui-find-box {
	display: none;
}
.zaiui-find-box.show {
	display: block;
}

.zaiui-title-tab-box {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999999;
	padding: calc(var(--status-bar-height) + 9.09rpx) 27.27rpx 9.09rpx 9.09rpx;
	.flex {
		.basis-l {
			flex-basis: 70%;
		}
		.basis-s {
			flex-basis: 30%;
		}
	}
}
.zaiui-seat-height {
	width: 100%;
	
	/* #ifndef MP */
	height: calc(var(--status-bar-height) + 81.81rpx);
	/* #endif */
	
	/* #ifdef MP */
	margin-top: calc(var(--status-bar-height) + 185rpx);
	/* #endif */
}
.zaiui-view-content {
	padding: 0 27.27rpx 54.54rpx;
}
