.zaiui-bar-search-title-box {
	.cu-bar {
		padding-top: var(--status-bar-height);
		min-height: calc(var(--status-bar-height) + 101rpx);
		.content {
			top: var(--status-bar-height);
			width: calc(100% - 181.81rpx);
		}
		.search-form [class*="cuIcon-"] {
		    margin: 0 0.8em 0 0.8em;
		}
		.search-form {
			/* #ifdef MP */
			margin-right: 181.81rpx;
			/* #endif */
			
			margin-left: 9.09rpx;
			.close-icon {
				font-size: 29.09rpx;	
			}
		}
	}
	.cu-bar.fixed.no-shadow {
		box-shadow: inherit;
	}
	.cu-bar.bg-white {
		color: #333333;
	}
	.zaiui-seat-height {
		width: 100%;
		height: calc(var(--status-bar-height) + 101rpx);
	}
}

.zaiui-search-list-view {
	position: relative;
	width: 100%;
	.search-list-view {
		.search-bar-view {
			position: relative;
			margin-bottom: 18.18rpx;
			width: 100%;
			.icon-right {
			    position: absolute;
			    right: 0;
			    top: 5.45rpx;
			}
			.text-right {
				position: absolute;
				right: 0;
				top: 4rpx;
				text + text {
					margin-left: 27.27rpx;	
				}
			}
		}
		.btn-view {
			position: relative;
			padding-bottom: 36.36rpx;
		    width: 100%;
			.cu-btn {
				color: #333333;
				height: 54.54rpx;
				font-size: 23.63rpx;
				margin-right: 27.27rpx;
				margin-bottom: 18.18rpx;
				.close-icon {
					top: 0;
					color: #9c9797;
					right: -9.09rpx;
				    position: absolute;
				    font-size: 27.27rpx;
				}
			}
		}
	}
}
