.zaiui-sell-box {
	background: #FAFAFA;
	position: relative;
	min-height: 100vh;
	z-index: 99999;
	width: 100%;
	display: none;
	.zaiui-bar-view-box {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 999999;
		background: #FAFAFA;
		
		/* #ifndef MP */
		height: calc(var(--status-bar-height) + 99.99rpx);
		/* #endif */
		
		/* #ifdef MP */
		height: calc(var(--status-bar-height) + 189.99rpx);
		/* #endif */
		
		padding: var(--status-bar-height) 27.27rpx 0 27.27rpx;
		align-items: center;
		.zaiui-bar-box {
			position: relative;
			width: 100%;
			align-items: center;
			line-height: 99.99rpx;
			.close {
				position: absolute;
				right: 27.27rpx;
				font-size: 40rpx;
				bottom: 9.09rpx;
			}
		}
	}
	
	.zaiui-seat-height {
		width: 100%;
		
		/* #ifndef MP */
		height: calc(var(--status-bar-height) + 99.99rpx);
		/* #endif */
		
		/* #ifdef MP */
		height: calc(var(--status-bar-height) + 199.99rpx);
		/* #endif */
	}
	.zaiui-view-content {
		padding: 0 27.27rpx 27.27rpx;
	}
}
.zaiui-sell-box.show {
	display: block;
}
