.zaiui-swiper-box {
	width: 100%;
	.screen-swiper {
		height: 196.36rpx;
		min-height: 196.36rpx;
		.swiper-padding {
			padding: 0 25rpx;
		}
	}
}
.zaiui-invest-title-box {
	position: relative;
	padding: 18.18rpx 21.81rpx;
	.text-box {
		.cuIcon-title {
			font-size: 20rpx;
		}
	}
	.img {
		position: absolute;
		background-size: 100% 100%;
	    right: 23.63rpx;
	    width: 90.9rpx;
	    height: 34.54rpx;
	    top: 23.63rpx;	
	}
}

.zaiui-grid-round-box {
	.cu-list.grid {
		background-color: inherit;
		.grid-icon {
			margin: 0 30rpx;
			.icon {
				border-radius: 100%;
			}
		}
	}
	.cu-list.grid>.cu-item {
		text {
			color: #333333;
		}
		.cu-tag {
		    right: auto;
		    left: 45%;
		    margin-left: 0;
		    top: -9.09rpx;
			transform: scale(0.8);
		}
	}
	.cu-list.grid.no-border {
	    padding: 18.18rpx 9.09rpx 0;
	}
}

.zaiui-grid-sm-box {
	.cu-list.grid {
		background-color: inherit;
		.grid-icon {
			margin: 0 30rpx;
		}
	}
}

.zaiui-seckill-list-view-box {
	background-image: linear-gradient(0deg, #ffffff, #FAFAFA);
	padding: 0 29.09rpx 29.09rpx;
	.list-title-box {
		position: relative;
		width: 100%;
		.text-view {
			.text-bold {
				margin-right: 18.18rpx;
			}
			.cu-tag {
			    position: relative;
				margin: 0 5.45rpx;
			    top: -5.45rpx;	
			}
			.colon {
			    position: relative;
			    top: -3.63rpx;	
			}
		}
		.text-right-view {
			position: absolute;
			right: 0;
			top: 3.63rpx;
		}
	}
	.seckill-goods-list-view {
		position: relative;
		width: 100%;
		.recommend-scroll {
			position: relative;
			height: 381.81rpx;
			white-space: nowrap;
			width: 100%;
			.recommend-scroll-item {
				display: inline-block;
				padding-top: 27.27rpx;
				width: 199.99rpx;
				padding-right: 18.18rpx;
				white-space: initial;
				position: relative;
				.goods-img-view {
					position: relative;
					width: 100%;
					.cu-avatar{
						width: 181.81rpx;
						height: 181.81rpx;
					}
					.cu-tag {
					    position: absolute;
					    bottom: 0;
					    left: 0;	
					}
				}
				.rob-tag {
					position: absolute;
				    bottom: 10.9rpx;
				    right: 21.81rpx;
				    width: 36.36rpx;
				    height: 36.36rpx;
				    padding: 0;
				    line-height: 36.36rpx;
				}
			}
		}
	}
}

.zaiui-gird-hot-goods-box {
	.margin,.cu-list.grid {
		border-radius: 10px;
	}
	.cu-list.grid>.cu-item {
		padding: 18.18rpx;
		&::after {
			top: 0;
			left: 0;
			width: 200%;
			height: 200%;
			content: " ";
			position: absolute;
			transform: scale(.5);
			transform-origin: 0 0;
			pointer-events: none;
			box-sizing: border-box;
			border-radius: inherit;
		}
		&:nth-of-type(1) {
			&::after {
				border-right: 2rpx solid rgba(0, 0, 0, .1);
				border-bottom: 2rpx solid rgba(0, 0, 0, .1);
			}
		}
		&:nth-of-type(2) {
			&::after {
				border-right: 0;
				border-bottom: 2rpx solid rgba(0, 0, 0, .1);
			}
		}
		&:nth-of-type(3) {
			&::after {
				border-right: 2rpx solid rgba(0, 0, 0, .1);
				border-bottom: 0;
			}
		}
		&:nth-of-type(4) {
			&::after {
				border-right: 0;
				border-bottom: 0;
			}
		}
	}
	.cu-list.grid>.cu-item { 
		.text-view {
			position: relative;
			width: 100%;
			text-align: left;
			.text-title {
			    display: initial;
			    margin-top: 0;
			    color: #333333;
			    font-size: 30.9rpx;
			    line-height: initial;
			    font-weight: bold;
			}
			.text-right-view {
				position: absolute;
				right: 0;
				top: 3.63rpx;
				display: flex;
				.text-m {
				    display: initial;
				    margin-top: 0;
				    color: #aaaaaa;
				    font-size: 23.63rpx;
				    line-height: initial;	
				}
				.icon {
				    position: relative;
				    display: initial;
				    margin-top: 0;
				    width: auto;
					top: 5.45rpx;
				    font-size: 23.63rpx;
				    line-height: initial;	
				}
			}
			.cu-tag {
				right: initial;
				left: 0;
				margin-left: 9.09rpx;
				display: initial;
				margin-top: 0;
				color: aliceblue;
				font-size: 23.63rpx;
				line-height: initial;
				position: relative;
				top: -3.63rpx;
				padding: 3.63rpx 10.9rpx;
			}
		}
		.goods-item {
			.goods-img-view {
				position: relative;
				width: 100%;
			}
			.text-goods-title {
				color: #333333;
			}
		}
		.zaiui-list-2-view {
			.goods-img-view {
				position: relative;
				width: 100%;
				height: 127.27rpx;
				.cu-avatar {
				    position: absolute;
				    left: 0;	
				}
				.zaiui-text-view {
					position: relative;
				    padding-left: 136.36rpx;
				    text-align: left;
				    height: 127.27rpx;
				    line-height: 1.6;
					.text-lg {
						font-size: 36.36rpx;
					}
				}
			}
			.text-goods-title {
				color: #333333;
				text-align: left;
				.text-title-1 {
				    display: inherit;
				    margin-top: 0;
				    color: #e54d42;
				    font-size: 21.81rpx;
				    line-height: 40rpx;	
				}
				.text-title-2 {
				    display: inherit;
				    margin-top: 0;
				    color: #333333;
				    font-size: 25.45rpx;
				    line-height: inherit;
				    margin-left: 18.18rpx;	
				}
			}
		}
	}
}

.zaiui-add-btn-view-box {
	bottom: calc(env(safe-area-inset-bottom) / 2);
	text-align: center;
	.cu-btn {
		margin: auto;
		width: 81.81rpx;
		height: 81.81rpx;
		font-weight: 800;
		border-radius: 50%;
		font-size: 49.09rpx;
		border: 9.09rpx solid #fff;
		box-shadow: 0 0 14.54rpx 7.27rpx #d0d0d0;
	}
}
